/* Base Navbar Styles */
.navbar {
  background-color: rgba(30, 34, 47, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1002;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 30px;
  z-index: 1003;
  position: fixed;
  top: 15px;
  left: 15px;
}

.navbar-menu {
  display: none; /* Hide the menu by default */
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-left: 30px;
  align-items: flex-start;
}

/* Show menu when expanded (when hamburger is clicked) */
.navbar-menu.show {
  display: flex;
}

/* Expanded menu styles */
.navbar-menu.show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(30, 34, 47, 1);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Fullscreen menu for small screens */
@media (max-width: 768px) {
  .navbar-menu.show {
    width: 100%;
  }

  .navbar-toggle.hamburger {
    display: block;
  }

  .navbar-toggle.x-icon {
    display: block;
  }

  /* Hide navigation items when the hamburger icon is visible (i.e., menu is collapsed) */
  .navbar-menu {
    display: none;
  }
}

/* Menu for larger screens (30% width) */
@media (min-width: 769px) {
  .navbar-menu.show {
    width: 30%;
  }

  .navbar-toggle.hamburger {
    display: none; /* Hide hamburger icon */
  }

  .navbar-toggle.x-icon {
    display: block;
  }

  /* Show navigation items on larger screens */
  .navbar-menu {
    display: flex;
  }
}

.navbar-item {
  margin: 0px 0;
}

.navbar-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #28a745;
}
