/* Reset margin and padding for the body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* Ensure full width */
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
}

.gameboard-container {
    background-color: rgba(30,34,47,255)   ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    overflow: hidden; /* Hide any potential overflow */
}

/* Styling for heading in LandingPage */
.landing-container h2 {
    margin-bottom: 20px;
    color: #ffffff; /* Change color for h2 heading */
}

/* Styling for game buttons container */
.game-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Styling for individual game buttons */
.game-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #28a745;
    color: white; /* Change the text color of buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.game-button:hover {
    background-color: #218838;
}
